.panel.panel-info
	.panel-heading
		h3.panel-title
			strong About Custom Buttons add-on
	.panel-body
		strong
		p Custom Buttons allows you to create custom toolbarbuttons that can perform almost any task within your application. The language used in this buttons is JavaScript.
		p People who have never used or seen this scripting language, 
			a.internal_link(href='#nav_js_basics') at the end of this documentation
			|  will find a basic guide to JavaScript.
.panel.panel-info
	.panel-heading
		h3.panel-title
			strong About this documentation
	.panel-body
		ul
			strong
				li You can double click on code blocks to select all code.
				li Code blocks highlighted in 
					span.text-success green
					|  are from the official Custom Buttons documentation.
				li Code blocks highlighted in 
					span.text-danger red
					|  are modified/added by me (Odyseus).
				li Code blocks highlighted in 
					span.text-warning orange
					|  are extracted from the Russian forum.
				li Code blocks not highlighted 
					em have not been reviewed or tested. 
					| Which means that the code could be non-functional (due to its possible deprecation) or its just bad translated by me (due to the use of an automatic translator).
				li I&apos;ve made very minor changes to the examples of the original documentation. Like replacing all instances of &quot;Components.classes&quot; for the variable &quot;Cc&quot;, etc.
				li I have also added examples that were removed from the original documentation, like &quot;menu-button&quot; and &quot;menu&quot; buttons examples.