ul.nav.cb-docs-sidenav
	li.effing_index
		a(href='#effing_index') Index
	li
		a(href='#nav_getting_started') Getting started
		ul.nav
			li
				a(href='#cb_basics') Basics
				ul.nav
					li
						a(href='#nav_getting_started-1') Description of the UI
					li
						a(href='#nav_getting_started-2') Your First Custom Button
					li
						a(href='#nav_getting_started-3') Context Popup
					li
						a(href='#nav_getting_started-4') Editor Keyboard Shortcuts
					li
						a(href='#nav_getting_started-5') Custom Buttons Options
					li
						a(href='#nav_getting_started-6') Command Line Parameter
			li
				a(href='#cb_basic_examples') Various examples
				ul.nav
					li
						a(href='#nav_getting_started-7') Predefined Global Variables
					li
						a(href='#nav_getting_started-8') Using Mouse Handlers
					li
						a(href='#nav_getting_started-9') Change Button Image
					li
						a(href='#nav_getting_started-10') Change Button Opacity
					li
						a(href='#nav_getting_started-11') Run Once Per Session
					li
						a(href='#nav_getting_started-12') Using DOM Inspector in Firefox, SeaMonkey, Thunderbird
					li
						a(href='#nav_getting_started-13') Using onDestroy Method
					li
						a(href='#nav_getting_started-14') Using Commands
					li
						a(href='#nav_getting_started-15') Using Style Sheet Service
					li
						a(href='#nav_getting_started-16') Using Event Listeners
					li
						a(href='#nav_getting_started-17') Using Error Console
					li
						a(href='#nav_getting_started-18') Toggle Page Style
	li
		a(href='#nav_working_with_buttons') Working with buttons, mouse, menus, etc.
		ul.nav
			li
				a(href='#nav_working_with_buttons-menu-type') Toolbar Button Type &apos;menu&apos;
				ul.nav
					li
						a(href='#nav_working_with_buttons-menu-type-ex1') Menu created from an XML string
					li
						a(href='#nav_working_with_buttons-menu-type-ex2') Menu created with JavaScript
					li
						a(href='#nav_working_with_buttons-menu-type-ex3') Menu stored inside &quot;Help&quot; tab
			li
				a(href='#nav_working_with_buttons-menu-button-type') Toolbar Button Type &apos;menu-button&apos;
				ul.nav
					li
						a(href='#nav_working_with_buttons-menu-button-type-ex1') Menu created from an XML string
					li
						a(href='#nav_working_with_buttons-menu-button-type-ex2') Menu created with JavaScript
					li
						a(href='#nav_working_with_buttons-menu-button-type-ex3') Menu stored inside &quot;Help&quot; tab
			li
				a(href='#nav_working_with_buttons-drag-and-drop') Drag&amp;Drop capabilities
	li
		a(href='#nav_notifications') Prompts, alerts, etc.
		ul.nav
			li
				a(href='#nav_notifications-1') Using Prompt Dialogs
			li
				a(href='#nav_notifications-not-function') Notification function
			li
				a(href='#nav_notifications-doorhanger') Doorhanger notifications
			li
				a(href='#nav_notifications-play-sounds') Play Sounds
	li
		a(href='#nav_working_with_files') Working with files
		ul.nav
			li
				a(href='#nav_working_with_files-launch-notepad') Launch Notepad
			li
				a(href='#nav_working_with_files-readme-in-notepad') Open README.txt File in Notepad
			li
				a(href='#nav_working_with_files-userChrome-in-notepad') Open userChrome.css File in Notepad
			li
				a(href='#nav_working_with_files-personal-folder-in-explorer') Open Personal Folder in Explorer
			li
				a(href='#nav_working_with_files-cb-folder-in-cmd') Open custombuttons Folder in Command Prompt
			li
				a(href='#nav_working_with_files-open-any') Function to open any file/folder
			li
				a(href='#nav_working_with_files-various-examples') Various Examples
	li
		a(href='#nav_d') Working with clipboard, text data, etc.
		ul.nav
			li
				a(href='#nav_d-1') Using Clipboards
			li
				a(href='#nav_d-2') Export Commands to Clipboard
			li
				a(href='#nav_d-3') Using Special Files
			li
				a(href='#nav_d-4') Export Special Files to Clipboard
			li
				a(href='#nav_d-5') Various Examples
	li
		a(href='#nav_working_with_urls') Working with URLs, tabs, UI elements and so on
		ul.nav
			li
				a(href='#nav_working_with_urls-1') Open Pages
			li
				a(href='#nav_working_with_urls-2') Open Sidebar
			li
				a(href='#nav_working_with_urls-3') Using Bookmarklets
			li
				a(href='#nav_working_with_urls-4') Select Tabs
			li
				a(href='#nav_working_with_urls-5') Move Tabs
			li
				a(href='#nav_working_with_urls-6') Reload Tabs
			li
				a(href='#nav_working_with_urls-7') Remove Tabs
			li
				a(href='#nav_working_with_urls-8') Toggle Toolbars
			li
				a(href='#nav_working_with_urls-9') Toggle Find Bar
			li
				a(href='#nav_working_with_urls-10') Toggle Tab Strip
			li
				a(href='#nav_working_with_urls-11') Execute Menu Item Command
			li
				a(href='#nav_working_with_urls-12') Observe Attribute
			li
				a(href='#nav_working_with_urls-13') Various examples
	li
		a(href='#nav_f') Working with preferences (about:config)
		ul.nav
			li
				a(href='#nav_f-1') Open Config Manager
			li
				a(href='#nav_f-2') Preference Manipulation
				ul.nav
					li
						a(href='#nav_f-2-pref-existence') Test preference existence
					li
						a(href='#nav_f-2-pref-get-value') Get preference value
					li
						a(href='#nav_f-2-pref-set-value') Set preference value
					li
						a(href='#nav_f-2-pref-other-methods') Other methods
	li
		a(href='#nav_thunder_sea_spec') Thunderbird/SeaMonkey specifics
		ul.nav
			li
				a(href='#nav_thunder_sea_spec-1') Open Pages
			li
				a(href='#nav_thunder_sea_spec-2') Toggle Message Pane
			li
				a(href='#nav_thunder_sea_spec-3') Toggle Headers
			li
				a(href='#nav_thunder_sea_spec-4') Toggle Message Body As
			li
				a(href='#nav_thunder_sea_spec-5') Toggle Mail Views
			li
				a(href='#nav_thunder_sea_spec-6') Next Message
			li
				a(href='#nav_thunder_sea_spec-7') Show Folder
			li
				a(href='#nav_thunder_sea_spec-8') Select Folder
			li
				a(href='#nav_thunder_sea_spec-9') Copy Message
			li
				a(href='#nav_thunder_sea_spec-10') Move Message
			li
				a(href='#nav_thunder_sea_spec-11') Compose Message
			li
				a(href='#nav_thunder_sea_spec-12') Insert Text
			li
				a(href='#nav_thunder_sea_spec-13') Insert HTML
			li
				a(href='#nav_thunder_sea_spec-14') Export Address Book to Clipboard
	li
		a(href='#nav_js_basics') JavaScript basics
		ul.nav
			li
				a(href='#nav_js_basics-1') Functions
			li
				a(href='#nav_js_basics-2')
					| The 
					code for
					|  loop
			li
				a(href='#nav_js_basics-3') Conditions
			li
				a(href='#nav_js_basics-4') Arrays
			li
				a(href='#nav_js_basics-5') Objects
			li
				a(href='#nav_js_basics-6') Interval
			li
				a(href='#nav_js_basics-7') Timeout
