#footer_inner.container.footer-inner
	.navbar-inner
		ul.list-unstyled
			li
				p Website created with 
					a(href='http://getbootstrap.com')
						b Bootstrap
					|  version 3.3.7.
			li
				p Bootstrap theme based on themes from 
					a(href='http://bootswatch.com/')
						b Bootswatch
					| .
			li
				p Code syntax highlighting powered by 
					a(href='https://highlightjs.org/')
						b highlight.js
					|  version 9.6.0.
			li
				p The index uses 
					a(href='http://datatables.net/')
						b  DataTables
					|  version 1.10.12 to display, sort and search buttons.
			li
				p The top navigation bar uses 
					a(href='https://github.com/dymk/ScrollNav')
						b Smart jQuery Scrolling Navigation Bar Plugin
					| .
