noscript
	.alert.alert-danger
		p: strong Oh snap! This page needs JavaScript enabled to display correctly.
		p: strong Main information about the button and the link to install it will work normally.
		p: strong Code preview, dropdown menus and some buttons on the page will not work until JavaScript is enabled.
