-
	var JSONData = [{
		"repofolder": "BackupAllCustomButtons",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3647",
		"title": "This button allows you to backup/export all installed Custom Buttons (manually, at a shedule or automatically at startup) into three different formats.",
		"name": "Backup All Custom Buttons",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-04-12"
	}, {
		"repofolder": "FormattedTextGenerator",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3736",
		"title": "This button allows you to generate formatted text to be used on places where it is not possible to give the text any kind of style and/or to apply styles not available.",
		"name": "Formatted Text Generator",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-05-09"
	}, {
		"repofolder": "ImageResizer",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3730",
		"title": "This button allows to resize any image loaded into the browser from the page context menu.",
		"name": "Image Resizer",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-04-30"
	}, {
		"repofolder": "MultiSnippetsInserter",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3709",
		"title": "This button has the ability to insert text into any editable input on any page.",
		"name": "Multi Snippets Inserter",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-05-09"
	}, {
		"repofolder": "Sanitizer",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=1164",
		"title": "Direct access to the browser's native clean dialog.",
		"name": "Sanitizer",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-03-30"
	}, {
		"repofolder": "SpeedDial",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3245",
		"title": "Menu button with shortcuts to websites.",
		"name": "Speed Dial",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-05-04"
	}, {
		"repofolder": "UserScriptToggler",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3755",
		"title": "This button allows to toggle the enabled state of any GreaseMonkey/Scriptish script and reflect that state on the button's image.",
		"name": "User Script Toggler",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-05-18"
	}, {
		"repofolder": "MultiSearch",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3371",
		"title": "This button replaces and extends the default search bar.",
		"name": "Multi Search",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-06-05"
	}, {
		"repofolder": "CBContextMenuExtended",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3599",
		"title": "This button extends the Custom Buttons context menu capabilities by adding new menu items to perform different actions.",
		"name": "CB Context Menu Extended",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-03"
	}, {
		"repofolder": "MultiTranslator",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3632",
		"title": "The main purpose of this button is to make use of any translation service in a fast and comfortable way without having to leave the page you are reading by showing a popup with the translation result.",
		"name": "Multi Translator",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-02-28"
	}, {
		"repofolder": "BrowserConsoleInSidebarTab",
		"appendix": "-ForFirefox38",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3441",
		"title": "Open the browser console in the sidebar/tab.",
		"name": "Browser Console In Sidebar/Tab - For Firefox 38 or lower",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-02"
	}, {
		"repofolder": "BrowserConsoleInSidebarTab",
		"appendix": "-ForFirefox39",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3441",
		"title": "Open the browser console in the sidebar/tab.",
		"name": "Browser Console In Sidebar/Tab - For Firefox 39 or higher",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-02"
	}, {
		"repofolder": "BrowserConsoleInSidebarTab",
		"appendix": "-ForFirefox44",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3441",
		"title": "Open the browser console in the sidebar/tab.",
		"name": "Browser Console In Sidebar/Tab - For Firefox 44 or higher",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-02"
	}, {
		"repofolder": "BrowserConsoleInSidebarTab",
		"appendix": "-ForFirefox47",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3441",
		"title": "Open the browser console in the sidebar/tab.",
		"name": "Browser Console In Sidebar/Tab - For Firefox 47 or higher",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-02"
	}, {
		"repofolder": "BrowserConsoleInSidebarTab",
		"appendix": "-ForFirefox48",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3441",
		"title": "Open the browser console in the sidebar/tab.",
		"name": "Browser Console In Sidebar/Tab - For Firefox 48 or higher",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-02"
	}, {
		"repofolder": "PreferenceSwitcherAdvanced",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3759",
		"title": "This button allows to switch the value of any preference of any type.",
		"name": "Preference Switcher (Advanced)",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-05-30"
	}, {
		"repofolder": "PreferenceSwitcherBasic",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3758",
		"title": "This button allows to switch the value of any preference of any type.",
		"name": "Preference Switcher (Basic)",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-05-30"
	}, {
		"repofolder": "CustomIconsForCBEditor",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3533",
		"title": "This button adds new images to the Custom Buttons Editor.",
		"name": "Custom Icons For CB Editor",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-06"
	}, {
		"repofolder": "CodeSnippetsForCBEditor",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3532",
		"title": "Snippets insertion for Custom Buttons Editor.",
		"name": "Code Snippets For CB Editor",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2015-01-23"
	}, {
		"repofolder": "PageCapture",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3505",
		"title": "This button allows to capture an image of the current page content (Capture whole page, Capture current view, Capture selected region and Capture selected node).",
		"name": "Page Capture",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-07"
	}, {
		"repofolder": "MultiMenu",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3503",
		"title": "This button has the ability to create very complex menus with menu items that can execute from custom commands to commands from other extensions or from the browser itself. You can also create menu items to open paths to any folder, open any file or execute any program with or without arguments.",
		"name": "Multi Menu",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-06-11"
	}, {
		"repofolder": "TabsManager",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3629",
		"title": "Manage all opened tabs in a simple way without ever having to open the List all tabs menu. And while doing so, display all tabs at all times without having to use the scroll wheel (like in the List all tabs menu).",
		"name": "Tabs Manager",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-06-11"
	}, {
		"repofolder": "MenuitemHider",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3606",
		"title": "Button whose purpose is to hide from the application the selected 'menu', 'menuitem' or 'menuseparator' elements (for whatever reason).",
		"name": "Menuitem Hider",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-12"
	}, {
		"repofolder": "CopyLinkURL",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3592",
		"title": "Copy all links from selection or from current page.",
		"name": "Copy Link URL",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-13"
	}, {
		"repofolder": "RestoreRecentlyClosedTabs",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3596",
		"title": "Button with a menu listing all recently closed tabs from which can be restored each tab individually or all at once.",
		"name": "Restore Recently Closed Tabs",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-14"
	}, {
		"repofolder": "AboutConfigMultipleSelection",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3600",
		"title": "Adds the ability to select multiple rows while on about:config page.",
		"name": "AboutConfig Multiple Selection",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-14"
	}, {
		"repofolder": "ElementInspector",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3594",
		"title": "Adds a shortcut to inspect the application elements with DOM Inspector add-on.",
		"name": "Element Inspector",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-15"
	}, {
		"repofolder": "UserAgentSwitcher",
		"appendix": "Advanced",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3506",
		"title": "It allows to override the browser's current User Agent by selecting a new one from a predefined list.",
		"name": "User Agent Switcher (Advanced)",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-16"
	}, {
		"repofolder": "UserAgentSwitcher",
		"appendix": "Basic",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3506",
		"title": "It allows to override the browser's current User Agent by selecting a new one from a predefined list.",
		"name": "User Agent Switcher (Basic)",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-06-16"
	}, {
		"repofolder": "ToolbarsToggler",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3590",
		"title": "This button can be configured to display/hide toolbars on mouse over or by clicking the button. It can control one or more toolbars at the same time.",
		"name": "Toolbars Toggler",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-06-17"
	}, {
		"repofolder": "CustomButtonsForumsNotifications",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3798",
		"title": "Check if there are any new posts/topics on the Custom Buttons forums.",
		"name": "Custom Buttons Forums Notifications",
		"author": "Odyseus",
		"customClass": "",
		"updatedate": "2016-08-25"
	}, {
		"repofolder": "PinUnpinTab",
		"appendix": "",
		"homepage": "http://custombuttons.sourceforge.net/forum/viewtopic.php?f=4&t=3801",
		"title": "The purpuse of this button is to toggle the pinned state of the current selected tab.",
		"name": "Pin/Unpin Tab",
		"author": "Odyseus",
		"customClass": "dark-icon-to-invert",
		"updatedate": "2016-08-30"
	}].sort(function sortByString(a, b) {
		return a["name"].localeCompare(b["name"]);
	});